/* CSS Document */
.head{
	width:98%;
	height:9%;
	background-color:#291FFA;
	padding:1%;
	color:#FFFFFF;
}
.input{
	width:20%;
	height: 40%;
	float:left;
	margin-left:10%;
	margin-top:4%;
	border: 1px solid black;
	border-radius: 10px;
}
.input > p> span{
	margin-left:10px;
}
.input > p> input{
	margin-right:10px;
	margin-top: -5px;
	height:22px;
	width:60px;
}
.ketqua{
	width:60%;
	height:40px;
	margin:3% 20% 0% 20%;
	border: 1px solid black;
	border-radius: 10px;
}

